@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

canvas {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  outline: none;

  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */

  z-index: -1;
}

video {
  visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;

  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}

#app {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#app section {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#hud-webgl {
  z-index: 10;
  pointer-events: none;
}

#screenSaver .screenSaver-start {
  position: absolute;
  bottom: 80px;
  left: 50%;

  transform: translate(-50%, 0);

  color: #fff;
  font-size: 25px;

  font-family: "roboto";
  font-weight: 400;
}

#control-panel {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);

  width: fit-content;
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "roboto";

  z-index: 20;
}

#control-panel .panel-item {
  width: 40px;
  height: 40px;
  font-size: 12px;

  border-radius: 25px;
  background-color: rgba(30, 30, 30, 0.6);

  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
  visibility: hidden;

  transition: 0.3s background-color cubic-bezier(0.37, 0, 0.63, 1),
    0.3s border-radius cubic-bezier(0.37, 0, 0.63, 1);
}

#control-panel .panel-item.hover {
  border-radius: 20px;
  background-color: rgba(30, 30, 30, 1);
}
